@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

    h1 {
        font-family: "gruppo", sans-serif;
        font-size: 60px;
        font-weight: 900;
        line-height: .8;
        margin-left: 120px;
        margin-top: 40px;
        padding-bottom: 30px;
    }
    .fa-google {
        font-size: 45px;
        color: #141c3a;
        margin-top: 35px;
        margin-left: 15px;
    }
    .fa-bars {
        color: black;
        font-size: 30px;
        margin-left: 400px;  
        margin-bottom: 30px;  
    }
    p {
        font-size: 17px;
        font-weight: 200;
        margin-top: 20px;
        margin-left: 15px;
    }
    span {
        color: #fa4442;
        font-weight: 300;
    }
    a {
        text-decoration: none;
    }
    .tidbit1 {
        font-size: 19px;
        margin-left: 50px;
    }
    .tidbit2 {
        font-size: 19px;
        color: black;
        font-weight: 200;
        margin-left: 120px;
    }
    .svg {
        width: 450px;
        margin-left: 25px;
    }
    .web-dev {
        width: 170px;
        margin-left: 160px;
        margin-top: 45px;
        margin-bottom: 60px;
    }
    .container {
        margin: 0px;
        padding: 0px;
    }
    .container2 {
        background-color: #141c3a;
        width: 100%;
        padding: 20px;
    }
    .container2 h2 {
        font-family: "gruppo", sans-serif;
        font-weight: 900;
        color: white;
        margin-left: 50px;
        margin-top: 40px;
    }
    .personal {
        color: white;
        font-weight: 200;
        line-height: 1.9;
        margin-left: 60px;
    }
    .filler {
        height: 140px;
        background-color: #141c3a;
    }
    .skills {
        height: 1750px;
        width: 90%;
        margin-left: 25px;
        background-color: white;
        border: 1px solid lightgray;
        position: relative;
        bottom: 120px;
        border-radius: .9rem ;
        box-shadow: 0 5px 2px -2px lightgray;
        margin-bottom: -65px;
    }
    .touts {
    }
    .fa-html5 {
        font-size: 70px;
        color: #e54f26;
        margin-left: 190px;
        margin-top: 40px;
        margin-bottom: 23px;
    }
    .html5 {
        margin-left: 175px;
        margin-bottom: 40px;
        margin-top: 12px;
    }
    .css3 {
        margin-left: 195px;
        margin-bottom: 40px;
        margin-top: 12px;
    }
    .js {
        margin-left: 170px;
        margin-bottom: 40px;
        margin-top: 12px;
    }
    .fa-css3-alt {
        font-size: 70px;
        color: #2962ff;
        margin-left: 199px;
        margin-top: 40px;
        margin-bottom: 23px;
    }
    .fa-js-square {
        font-size: 70px;
        color: #f0be11;
        margin-left: 197px;
        margin-top: 40px;
        margin-bottom: 23px;
    }
    .tout-p {
        line-height: .4;
        margin-left: 40px;
    }
    .css-tout {
        line-height: .4;
        margin-left: 75px;
    }
    .js-tout {
        line-height: .4;
        margin-left: 93px;
    }
    .p1line2 {
        margin-left: 85px;
    }
    .tout-p2 {
        margin-top: 55px;
        margin-left: 118px;
        font-size: 19px;
    }
    .highlight {
        color: #141c3a;
    }
    .tout-p3 {
        margin-top: 55px;
        margin-left: 157px;
        font-size: 19px;
        font-weight: 300;
    }
    .css-p3 {
        margin-top: 55px;
        margin-left: 170px;
        font-size: 19px;
        font-weight: 300;
    }
    .p2line2 {
        margin-top: 0px;
        padding-top: 0px;
    }
    .design {
        margin-left: ;
    }
    .p3line2 {
        margin-left: 155px;
        padding-bottom: 37px;
        font-size: 15px;
        line-height: 1.8;
    }
    .chrome{
        margin-left: 160px;
    }
    .figma {
        margin-left: 48px;
        color: black;
        font-weight: 200;
        font-size: 15px;
    }
    .hoverify {
        margin-left: 36px;
        color: black;
        font-weight: 200;
        font-size: 15px;
    }
    .pen {
        margin-left: 26px;
        color: black;
        font-weight: 200;
        font-size: 15px;
    }
    .js-tout-p2 {
        margin-left: 110px;
    }
    .js-p3 {
        margin-left: 157px;
        font-size: 19px;
        font-weight: 300;
    }
    .quokka {
        margin-left: 198px;
    }
    .project-header {
        font-family: "gruppo", sans-serif;
        font-size: 40px;
        margin-left: 140px;
        margin-top: 20px;
        color: #141c3a;
        
    }
    .projects {
        height: 1700px;
        background-color:white;
    }
    .recent-work {
        font-size: 21px;
        color:#141c3a;
        margin-bottom: 90px;
    }
    .cards {
        height: 300px;
        width: 440px;
        background-color: red;
        border-radius: 1rem;
        margin-left: 30px;
        margin-bottom: 30px
    }
    .cards img {
        height: 30px;
    }
    form {
        height: 500px;
        width: 300px;
        border: 1px ;
        background-color: #750ff7;
        border-radius: .8rem;
        position: relative;
        bottom: 145px;
        left: 95px;
        margin-left: 10px;
    }
    label {
        margin: 10px;
        color: white;
    }

    #first-name {
        margin-left: 10px;
        border: 1px solid lightgray;
        border-radius: .4rem;
    }
    #last-name {
        margin-left: 10px;
        border: 1px solid lightgray;
        border-radius: .4rem;
    }
    #email {
        margin-left: 10px;
        border: 1px solid lightgray;
        border-radius: .4rem;
    }
    textarea {
        margin-left: 10px;
        border: 1px solid lightgray;
        border-radius: .4rem;
        max-height: 140px;
        min-height: 140px;
    
    }
    button {
         width: 30%;
         margin-top: 12px;
         margin-left: 10px;
         border: 2px solid #750ff7 ;
         border-radius: .4rem;
         background-color: #141c3a;
         color: white
    }
    form h4 {
        color:white;
        font-family: "gruppo", sans-serif;
        font-size: 35px;
        font-weight: 900;
        margin-left: 54px;
        padding-top: 20px;
    }
    footer {
        background-color: #141c3a;
    }
    .fa-linkedin {
        font-size: 90px;
        color: #0a66c2;
        margin-bottom: 45px;
        margin-left: 210px;
        margin-top: -100px;
    }